<div class="mx-auto bg-black/20 h-full rounded-xl shadow-lg p-8 mt-6">
  <% if user_signed_in? %>
    <div class="flex flex-row items-center align-center place-content-center justify-between mb-10">
    <% else %>
      <div class="flex flex-col items-start align-center place-content-center justify-between mb-10">
      <% end %>
      <h1 class="text-2xl font-bold text-white/90"><%= @post.title %></h1>
      <% if user_signed_in? %>
        <div class="flex gap-4">
          <%= render partial: "shared/button", locals: { post: @post, submit_text: "Edit", path: edit_post_path(@post), method: :get, confirm: false, classes: "bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg shadow transition duration-300" } %>
          <%= render partial: "shared/button", locals: { post: @post, submit_text: "Delete", path: post_path(@post), method: :delete, confirm: true, classes: "bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded-lg shadow transition duration-300" } %>  </div>
      </div>
    <% end %>
    <p class="text-white/80 text-medium leading-relaxed mt-10"><%= @post.content %></p>
  </div>
</div>
</div>