<p class="mb-6">
  Desde siempre,mis primeros intereses siempre fueron la tecnología y cómo funcionan las cosas.  
  Mi formación comenzó con el <span class="font-semibold">Bachillerato Tecnologico en UTU</span>,  
  donde adquirí conocimientos fundamentales sobre pensamiento lógico y tecnología.  
  Más adelante, por cuestiones de la vida, exploré el ámbito legal cursando 6to
  <span class="font-semibold">en Derecho en el Liceo N°3 Dámaso Antonio Larrañaga</span>,  
  lo que me ayudó a desarrollar habilidades analíticas y un pensamiento estructurado.
</p>
<h3 class="mt-8 mb-2 font-mono text-xl">Especialización en Pruebas de Software</h3>
<p class="mb-5">
  Mi gusto por la tecnología me llevó a interesarme en el <span class="font-semibold">Testing de Software</span>,  
  completando el curso dictado por la reconocida tester Tatianna Nieves. Cursando el <span class="font-semibold">Módulo Básico de Testing</span>, donde aprendí sobre:
</p>
<ul class="space-y-2 font-mono">
  <p class="text-[10px] text-sm">✅ Análisis de Requerimientos</p>
  <p class="text-[10px] text-sm">✅ Diseño de Casos de Prueba y Reporte de Errores</p>
  <p class="text-[10px] text-sm">✅ Pruebas de Caja Negra, Smoke, Exploratorias y de Regresión</p>
  <p class="text-[10px] text-sm">✅ Metodologías Ágiles (SCRUM)</p>
  <p class="text-[10px] text-sm">✅ Pruebas en Aplicaciones Web y Móviles</p>
</ul>
<p class="mb-5">Luego en el <span class="font-semibold">Módulo Avanzado de Testing</span> amplié mis conocimientos técnicos con enfoque en:</p>
<ul class="space-y-2 font-mono">
  <p class="text-[10px] text-sm">✅  Bases de Datos Relacionales (SQL)</p>
  <p class="text-[10px] text-sm">✅  Pruebas de API con Postman</p>
  <p class="text-[10px] text-sm">✅  Herramientas como MySQL Workbench y Postman</p>
</ul>
<h3 class="mt-8 mb-2 font-mono text-xl">Explorando el Desarrollo</h3>
<p class="mb-5">
  Actualmente, combino mis conocimientos en <span class="font-semibold">testing y desarrollo</span>,  
  explorando tecnologías diversas como <span class="font-semibold">React,React Native, TypeScript, Spring Boot y Ruby on Rails</span>
  He cursado y completado varios cursos extracurriculares obteniendo licencias como <span class="font-semibold">Foundational C# with Microsoft</span> y
  <span class="font-semibold">Docker Foundations Professional Certificate</span>.
</p>
<div class="flex justify-center items-center">
  <p class="mt-8 mb-2 font-mono text-lg">📚 ¡El aprendizaje nunca se detiene!</p>
</div>
