<h3 class="mt-10 mb-5 font-mono text-xl">Quality Assurance & Software Testing</h3>
<p class="mb-5">
  Con casi <span class="font-semibold">dos a帽os de experiencia como QA Tester</span>,  
  me especializo en asegurar la maxima <span class="font-semibold">calidad</span> posible del software a trav茅s de distintas  
  <span class="font-semibold">pruebas manuales y automatizadas</span>.  
  Mi enfoque incluye validaci贸n orientada a BD, backend, pruebas de API y configuracion de Frameworks de automatizaci贸n
  con <span class="font-semibold">Selenium WebDriver y Postman</span>.  
  He trabajado con <span class="font-semibold">sistemas bancarios</span>,  
  asegurando la integridad de los datos utlizando <span class="font-semibold">Oracle SQL</span>.
</p>
<h3 class="mt-10 mb-5 font-mono text-xl">Expandi茅ndome hacia el Desarrollo</h3>
<p class="mb-5">
  M谩s all谩 de QA, tambi茅n poseo <span class="font-semibold">conocimientos acerca de desarrollo de software</span>.  
  En el frontend, he trabajado con <span class="font-semibold">React con TypeScript</span>,  
  creando interfaces din谩micas y responsivas.  
  En el backend, tengo experiencia con los Frameworks <span class="font-semibold">Spring Boot y Ruby on Rails</span>,  
  utilizando <span class="font-semibold">Java y Ruby</span> para construir diversas aplicaciones.  
  Si bien no cuento con experiencia laboral, he aplicado estos conocimientos en varios proyectos personales que pueden ver visitando mi Github.
</p>
<h3 class="mt-10 mb-5 font-mono text-xl">Stack Tecnol贸gico y Habilidades</h3>
<ul class="space-y-2 font-mono">
  <p class="text-[12px] text-sm"> React con TypeScript (Frontend)</p>
  <p class="text-[12px] text-sm"> Spring Boot y Ruby on Rails (Backend)</p>
  <p class="text-[12px] text-sm"> React Native para el desarrollo mobile</p>
  <p class="text-[12px] text-sm"> Selenium WebDriver.</p>
  <p class="text-[12px] text-sm"> Pruebas de API con Postman. </p>
  <p class="text-[12px] text-sm"> Docker para creaci贸n y manejo de contenedores</p>
  <p class="text-[12px] text-sm"> Manejo de bases de datos relacionales.</p>
  <p class="text-[12px] text-sm"> An谩lisis, creaci贸n y documentaci贸n de casos de prueba.</p>
</ul>
<h4 class="mt-10 mb-3 font-mono text-lg"> Continuar aprendiendo en base a buenas practicas</h4>
<p class="font-sans">
  Cada proyecto en el que trabajo combina <span class="font-semibold">experiencia en QA y habilidades de desarrollo</span>
  para entregar un buen producto siguiendo buenas practicas.  
</p>
