<div class="skill-card flex flex-col items-center justify-start w-[600px] p-4 rounded-lg shadow-lg cursor-pointer border transition-all duration-300">
  <div class="flex flex-row items-center justify-start w-full gap-4 p-2 mb-4">
    <div class="flex h-8 rounded-2xl w-fit">
      <%= image_tag(asset_path(iconurl)) rescue image_tag("default_icon.svg", class: "p-2 rounded-2xl") %>
    </div>
    <p class="font-mono text-sm font-light whitespace-nowrap"><%= name %></p>
  </div>
  <p class="p-2 font-mono text-xs "><%= description %></p>
</div>
