<div data-controller="work" class="relative flex flex-col items-center justify-center w-full h-auto gap-10 p-10 mx-auto mt-8 font-sans rounded-2xl">
  <h2 data-work-target="fade" class="font-mono text-3xl font-bold transition-all duration-700 translate-y-6 opacity-0 mb-14">
    Mi Trayectoria Educativa hacia el Testing de Software 🎓✨  </h2>
  <div data-work-target="fade" class="flex flex-col h-full max-w-3xl gap-8 text-base leading-relaxed text-left transition-all duration-700 translate-y-6 opacity-0">
    <%= render partial: "custom_posts/educationtext" %>
  </div>
  <div class="flex flex-col items-center justify-center mb-16 mt-14">
    <%= render partial: "posts/return" %>
  </div>
</div>
