<div class="footer-background flex flex-col sm:flex-row items-center w-full justify-center sm:w-full p-4 lg:p-[12px] sm:p-[6px]">
  <p class="font-mono text-xs sm:text-xs md:text-xs lg:text-xs"><%= t('footer.text')%></p>
  <div class="flex-col hidden gap-4 sm:absolute sm:flex sm:right-10 sm:flex-row">
    <%= render partial: "shared/socialmediaicons" %>
  </div>
</div>