<div class="flex sm:flex-row flex-col justify-center items-center p-2 sm:p-[6px] lg:p-[12px] w-full sm:w-full footer-background">
  <p class="hidden sm:flex font-mono sm:text-xs md:text-xs lg:text-xs whitespace-nowrap"><%= t('footer.text')%></p>
  <div class="sm:right-10 sm:absolute flex sm:flex flex-row sm:flex-row gap-4">
    <%= render partial: "shared/socialmediaicons" %>
  </div>
</div>